<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Html</title>
  </head>
  <body>

    
    <header class="navbar navbar-expand-lg px-0 py-3">
      <div class="container-xl">
        <div class="log">
          <a class="navbar-brand" href="#">
            <img
              class="img_log"
              src="https://static.vecteezy.com/system/resources/previews/004/896/228/large_2x/letters-s-and-s-or-ss-line-logo-design-linear-minimal-stylish-emblem-luxury-elegant-element-premium-business-logotype-graphic-alphabet-symbol-for-corporate-business-identity-vector.jpg"
              class="h-8"
              alt="..."
            />
          </a>
        </div>
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Buscar"
          />
        </div>

        <div class="icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="social">
        <ul class="no-list">
          <a href="#" target="_blank">
            <li class="facebook"><i class="fab fa-facebook-f"></i></li>
          </a>
          <a href="#" target="_blank">
            <li class="twitter"><i class="fab fa-twitter"></i></li>
          </a>
          <a href="#" target="_blank">
            <li class="instagram"><i class="fab fa-instagram"></i></li>
          </a>

          <a href="#" target="_blank">
            <li class="youtube">
              <i class="fab fa-youtube" target="_blank"></i>
            </li>
          </a>
        </ul>
      </div>
    </header>
    <hr />
    <div class="con">
    <div class="d-flex">
      <div class="mr-auto p-2">
        <section>
          <h3>Curso HTML</h3>
          <h5>
            En su corazón, HTML es un lenguaje muy sencillo compuesto 
            de elementos, que se pueden aplicar a piezas de texto para darles

          </h5>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Buscar"
          />
        </section>
      </div>
      <div class="p-2">
        <img
          class="img_html"
          src="https://i.ytimg.com/vi/nyz3CZSGZLE/maxresdefault.jpg"
          alt=""
        />
      </div>
    </div>
    <br />
    <div class="d-flex">
      <div class="au">
        <h3>Cuontenido del curso</h3>
        <h7>
          1. La etiqueta de apertura <br />
          2. La etiqueta de cierre <br />
          3. El contenido <br />
        </h7>
        <br>
        <br>
        <section>
          <h3>Otros cursos</h3>
          <div>
        
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="CSS.html">
                  <figure>
                    <img
                      class="img-fluid img-thumbnail"
                      src="https://i.ytimg.com/vi/W6GTDfrWjXs/maxresdefault.jpg"
                      alt="Random Image"
                    />
                  </figure>
                </a>
                <div class="my-4 text-center text-lg-left">
                  <h5>Curso CSS</h5>
                  <p>$800.000</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="HTMLandCSS.html">
                  <figure>
                    <img
                      class="img-fluid img-thumbnail"
                      src="https://escuela.it/storage/course_images/imagen-curso-html-css-50.jpg"
                      alt="Random Image"
                    />
                  </figure>
                </a>
                <div class="my-4 text-center text-lg-left">
                  <h5>Curso HTML y CSS</h5>
                  <p>$1.000.000</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="frontend.html">
                  <figure>
                    <img
                      class="img-fluid img-thumbnail"
                      src="https://blog.facialix.com/wp-content/uploads/2021/03/curso-html-css-javascript-bootstrap-facialix.jpg"
                      alt="Random Image"
                    />
                  </figure>
                </a>
                <div class="my-4 text-center text-lg-left">
                  <h5>Curso FRONTEND</h5>
                  <p>$2.000.000</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="HTMLandCSS.html">
                  <figure>
                    <img
                      class="img-fluid img-thumbnail"
                      src="https://www.seekpng.com/png/detail/80-803501_javascript-logo-logo-de-java-script-png.png"
                      alt="Random Image"
                    />
                  </figure>
                </a>
                <div class="my-4 text-center text-lg-left">
                  <h5>JAVASCRIPT</h5>
                  <p>$3.000.000</p>
                </div>
              </div>
         
          </div>
        </section>
      </div>
      <section class="final">
        <h1>$400.000</h1>
        <br />
        <br />
  
        <button type="button" class="btn btn-primary">Comprar</button>
        <br />
        <br />
        <br />
        <br />
        <button type="button" class="btn btn-success">Comenzar</button>
        <br />
        <br />
        <br />
        <br />
        <h3>Informacion</h3>
        <p>Se desarrollaa de manera virtual</p>
      </section>
    </div>
  </div>
  </body>
</html>
